*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif ;
    
}

/* Estilos generales*/

.image-container {
    display: flex;
}
.image-container img {
    width: 100%;

}

/* Estilos de header */

header{
    background: #1f1f1f;
    padding: 1rem 5rem;
}

#logo {
    width: 5rem;
}

#logo img {
    border-radius: 100% ;
    border: .2rem solid #fff;
}

/* Estilos del hero */

#hero {
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%; 
}

#hero .informacion-contenedor {
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    left: 0;
    width: 100%;
    color: #fff;
    padding: 0 5rem;
    display: flex;
}

#hero .informacion-contenedor #foto {
    width: 20rem;
}

#hero .informacion-contenedor #foto img {
    border-radius: 100%;
}

#hero .informacion-contenedor .informacion {
    margin-left: 2rem;
    font-weight: bold;
}

#hero .informacion-contenedor .informacion span {
    color: #b5b5b5;
    margin-bottom: 10rem;
    display: inline-block;
}